{% extends 'base.html.twig' %}

{% block title %}Books list{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Books list✅</h1>
        <div>
            <input type="text" id="address" placeholder="address">
            <input type="text" id="phone" placeholder="phone">
            <button style="height: 40px; width: 80px" type="button" onclick="sendOrder()">Submit</button>
        </div>
        <ol>
            {% for book in books %}
                <li>
                    <div>
                        <img src="book.jpg" alt="img">
                    </div>
                    <div>
                        {{ book.title }} : {{ book.description }}
                        <input type="checkbox" data-selected-books value="{{ book.id }}">
                    </div>
                    <div>
                        <ul>
                            {% for link in book.getAuthorsLinks %}
                                <li>
                                    {{ link.getAuthor.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
    <script>
        function sendOrder() {
            $.ajax({
                type: 'POST',
                url: '/order/new',
                data: {
                    order:{
                        address: $('#address').val(),
                        phone: $('#phone').val(),
                        books:$('[data-selected-books]:checked').map(function() {
                            return this.value;
                        }).get()
                    }
                },
            });
        }
    </script>
{% endblock %}