{% extends 'base.html.twig' %}

{% block title %}Edit Authors{% endblock %}

{% block body %}
    <h1>Edit Authors</h1>

    {{ include('authors/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('authors_index') }}">back to list</a>

    {{ include('authors/_delete_form.html.twig') }}
{% endblock %}
