{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <h1>Authors</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ author.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('authors_index') }}">back to list</a>

    <a href="{{ path('authors_edit', {'id': author.id}) }}">edit</a>

    {{ include('authors/_delete_form.html.twig') }}
{% endblock %}
